{{define "addgp"}}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Додати нову групову політику</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form name="addgp" method="post" action="/addgp">
    <div class="modal-body">
    <input class="form-control" type="text" placeholder="Введіть ім'я політики" aria-label="default input example" id="gpname" name="gpname" data-length="25">
    <div class="input-field col s8">
        <select name="gptype" id="gptype" class="form-select">
            <option disabled selected>--Оберіть тип політики--</option>
            <option value="main">Головна</option>
            <option value="default">Типова</option>
            <option value="users">Користувацька</option>
        </select>
    </div>
    <textarea class="form-control" id="gpinfo" name="gpinfo" rows="3" placeholder="Введіть опис політики"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </div>
</form>
{{end}}