{{define "editgp"}}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Змінити групову політику</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form name="addgp" method="post" action="/editgp?name={{.CurrGP.Name}}">
    <div class="modal-body">
        <input hidden id="currdep" value="{{.CurrDep}}">
    <input class="form-control" type="text" placeholder="{{.CurrGP.Name}}" aria-label="default input example" id="gpname" name="gpname" data-length="25" disabled>
    <textarea class="form-control" id="gpinfo" name="gpinfo" rows="3" placeholder="{{.CurrGP.Description}}">{{.CurrGP.Description}}</textarea>
    </div>
    <div class="form-group container" id="hide">
        {{if ne .CurrGP.Type "main"}}
        <a class="btn btn-light" id="collapsedit" data-bs-toggle="collapse" href="#collapse22" role="button" aria-expanded="false" aria-controls="collapse">Змінити залежності</a>
        <div class="collapse" id="collapse22">
            <div class="card card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">вибір</th>
                        <th scope="col">ім'я</th>
                        <th scope="col">опис</th>
                    </tr>
                    </thead>
                    <tbody id="chckbx">
                    {{range .GPList}}
                    <tr class="{{.Type}}">
                        <th scope="row">
                            <input type="checkbox" name="gpdepend" value="{{.Name}}" id="checkdep-{{.Name}}"/>
                            <script>
                                var dep = document.getElementById("currdep").value.split("|");
                                var gp = document.getElementById("checkdep-{{.Name}}");
                                if (dep.includes("{{.Name}}")) {
                                    gp.checked = true;
                                } else {
                                    gp.checked = false;
                                }

                            </script>
                        </th>
                        <td>
                            {{.Name}}
                        </td>
                        <td>
                            {{.Description}}
                        </td>

                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        {{end}}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </div>
</form>
{{end}}