{{define "editgp"}}
<html lang="uk-UA">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src="/assets/jquery-3.6.0.min.js"></script>
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="/assets/fontawesome/css/all.css" rel="stylesheet">
    <script src="/assets/gpo.js" type="text/javascript"></script>

</head>
<body class="container">
<nav style="--bs-breadcrumb-divider: '>'; background-color: #75AF26;" aria-label="breadcrumb" class="align-self-center d-flex p-2">
    <ol class="breadcrumb col-10 navbar-brand">
        <li class="breadcrumb-item" style="padding-left: 0rem;"><a href="/" class="navbar-brand"><i class="fas fa-users"></i></a></li>
        <li class="breadcrumb-item active" style="padding-left: 0rem;" aria-current="page">{{.Gpname}}</li>
    </ol>
    <a href="/add?name={{.Gpname}}" class="align-self-center"><i class="fas fa-plus-circle"></i></a>
</nav>
<div class="d-flex align-items-start">
    <div class="col-3" style="overflow-y: auto; height: 85vh;">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        {{range .Rules}}
        <button class="nav-link text-start" id="v-pills-{{.Name}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{.Name}}" type="button" role="tab" aria-controls="v-pills-{{.Name}}" aria-selected="true">
            {{.DisplayName}}</button>
        {{end}}
    </div>
</div>
    <div class="tab-content" id="v-pills-tabContent">
{{range .Rules}}
        <div class="tab-pane fade show" id="v-pills-{{.Name}}" role="tabpanel" aria-labelledby="v-pills-{{.Name}}-tab">
            <p><h2>{{.DisplayName}}</h2></p>
    <p>Class: {{.Class}}</p>
    <p>Category: {{.Category}}</p>
    <p>Supported on: {{.SupportedOn}}</p>
    <p>
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Опис
    </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {{.ExplainText}}
        </div>
    </div>
    <div><br>
        {{range .Values}}
        {{if ne .DisabledValue ""}}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="enable-disable-{{.ValueName}}" value="{{.EnabledValue}}" id="enable-disable-{{.ValueName}}">
            <label class="form-check-label" for="enable-disable-{{.ValueName}}">
                Enabled
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="enable-disable-{{.ValueName}}" value="{{.DisabledValue}}" id="enable-disable-{{.ValueName}}">
            <label class="form-check-label" for="enable-disable-{{.ValueName}}">
                Disabled
            </label>
        </div>
        {{end}}
        {{if ne .TrueValue ""}}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="true-false-{{.ValueName}}" value="{{.TrueValue}}" id="true-false-{{.ValueName}}">
            <label class="form-check-label" for="true-false-{{.ValueName}}">
                True
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="true-false-{{.ValueName}}" value="{{.FalseValue}}" id="true-false-{{.ValueName}}">
            <label class="form-check-label" for="true-false-{{.ValueName}}">
                False
            </label>
        </div>
        {{end}}
        {{if and (eq .Dublicate 1) (ne .Value "") }}
        <input hidden id="dublval-{{.ValueName}}" value="{{.Value}}">
        <input hidden id="dubldn-{{.ValueName}}" value="{{.DisplayName}}">
        <div>
            <select id="gpvalues-{{.ValueName}}" class="form-select" aria-label="Default select example">
                <option value="" disabled="" selected="">Виберіть значення</option>
            </select>
        </div>
        <script>
            $(document).ready(function() {
                var vals = $("#dublval-{{.ValueName}}").val().split("|");
                var dnames = $("#dubldn-{{.ValueName}}").val().split("|");
                for (let [i, val] of vals.entries()) {
                    $("#gpvalues-{{.ValueName}}").append(new Option(dnames[i], val));
                }
            })
        </script>
        {{ else }}
        <p id="dname">{{.DisplayName}}</p>
        {{if eq .ValueName "manual "}}
        <!--<div class="input-group">
            <span class="input-group-text">Ім'я, значення і опис</span>
            <input type="text" aria-label="ValueName" class="form-control" id="manualv_text" inputmode="text" placeholder="Ім'я значення">
            <input type="text" aria-label="Value" class="form-control" id="manualvn_text" inputmode="text" placeholder="Значення">
            <input type="text" aria-label="Info" class="form-control" id="manuali_text" inputmode="text" placeholder="Опис">
        </div>-->
        <table id="myTable" class="table" data-toggle="table" data-mobile-responsive="true" data-pagination="true" data-height="460">

            <thead>
            <tr>
                <th>ім'я</th>
                <th>значення</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input id="ex2" type="text">
                </td>
                <td>
                    <input id="ex3" type="text">
                </td>
                <td>
                    <button class="btn btn-outline-success" id="addrow" class="addnew">+</button>
                </td>
            </tr>
            </tbody>
        </table>

        {{else}}
        {{if eq .Type "REG_SZ"}}
        <input type="text" id="{{.ValueName}}_text" inputmode="text" placeholder="{{.ValueName}}" />
        {{end}}
        {{if and (eq .Type "REG_DWORD") (eq .DisabledValue "")}}
        <input type="number" id="{{.ValueName}}_number" inputmode="numeric" placeholder="{{.ValueName}}" />
        {{end}}
        {{if eq .Type "REG_MULTISZ"}}
        <textarea rows = "5" cols = "60" name = "{{.ValueName}}_multiline" id="{{.ValueName}}_multiline">
                {{.ValueName}}
            </textarea>
        {{end}}
        {{if eq .Type "REG_QWORD"}}
        <input type="text" id="{{.ValueName}}_bin" inputmode="text" placeholder="{{.ValueName}}" />
        {{end}}
        {{end}}
        {{end}}
        {{end}}
    </div>
        </div>
    {{end}}
    </div>
    </div>
</body>
</html>

{{end}}