{{define "index"}}
<html lang="uk-UA">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src="/assets/jquery-3.6.0.min.js"></script>
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="/assets/fontawesome/css/all.css" rel="stylesheet">
</head>
<body class="container">
<nav style="--bs-breadcrumb-divider: '>'; background-color: #75AF26;" aria-label="breadcrumb" class="d-flex p-2">
    <ol class="breadcrumb col-10 navbar-brand">
        <li class="breadcrumb-item active" style="padding-left: 0rem;" aria-current="page"><i class="fas fa-users"></i></li>
    </ol>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-link modal1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-plus-circle"></i>
    </button>
</nav>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    $('.modal1').on('click',function(){
        $('.modal-content').load('/showaddgp',function(){
            $('#exampleModal').modal({show:true});
        });
    });
</script>

<table class="table table-striped text-center">
    <thead class="table-dark">
        <th class="col-3">Ім'я</th>
        <th class="col-1">Тип</th>
        <th class="col-5">Опис</th>
        <th class="col-3">Дії з політикою</th>
    </thead>
    <tbody>
    {{range .GPList}}
    <tr>
        <td><a href="/edit?name={{.Name}}">{{.Name}}</a></td>
        <td>{{.Type}}</td>
        <td>{{.Description}}</td>
        <td>{{.Dependency}}</td>
    </tr>
    {{end}}
    </tbody>
</table>

</body>
</html>
{{end}}